<div>
	<font size="6", color= "#641E16"><b>广告：</b></></font>
	<div align="center">
		<img src="/img/advertis/pytm.jpg" width="300" height="300" alt="品牌特卖会" style="display: inline-block"/>
		</br>
		<div style="color:orange; border-bottom: 1px solid #d9d9d9;display: inline-block;color: #999;"><a href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxfd76dbfcf2b7ee36&redirect_uri=http%3A%2F%2Fmall.xiangtuan.xyz%2Fapi%2Fmember%2FweixinAuth%3FredirectUrl%3Dhttps%253A%252F%252Fmall.xiangtuan.xyz%252F%2523%252Findex%253FshopId%253Dv4qxVbywpa%2526channel%253Dh5Mall%2526ut%253Dc%2526ud%253DvCU7y6DwnD%2526t%253D1571560258%2526connect_redirect%253D1&scope=snsapi_userinfo&state=1&response_type=code&connect_redirect=1#wechat_redirect'>品牌特卖会 -> 你想不到低价</a></div>
	</div>
</div>